<header class="ide-menu-bar">
  <ul class="menu-items">
    {{ $menus := .Site.Menus.main }}
    {{ if $menus }}
      {{ range $menus }}
        <li><a href="{{ .URL | relURL }}"><span class="highlight">{{ substr .Name 0 1 }}</span>{{ substr .Name 1 }}</a></li>
      {{ end }}
    {{ else }}
      <li><a href="{{ "/" | relURL }}"><span class="highlight">F</span>ile</a></li>
      <li><a href="#"><span class="highlight">E</span>dit</a></li>
      <li><a href="#"><span class="highlight">V</span>iew</a></li>
      <li><a href="#"><span class="highlight">S</span>earch</a></li>
      <li><a href="#"><span class="highlight">R</span>un</a></li>
      <li><a href="#"><span class="highlight">D</span>ebug</a></li>
      <li><a href="#"><span class="highlight">O</span>ptions</a></li>
    {{ end }}
  </ul>
</header>
